
@{
    ViewData["Title"] = "Amdin";
    Layout = "~/Views/Shared/_LayoutAmin.cshtml";
}

<h2>Amdin</h2>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Formulario</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal">
        <div class="box-body">

            <div>

            </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer -->
    </form>
</div>





<div class="form-group">
    <div class="col-sm-6">


    </div>

    <div class="col-sm-6">

    </div>

</div>